.muahang-container {
    width: 100%;
    height: auto;
    display: flex;
    color: black;
    margin-bottom: 100px;
    padding-top: 100px;
}

.container-thongtinkhachhang {
    width: 50%;
    height: auto;
    margin-left: 5%;
}

.input-ttkh {
    margin-bottom: 5%;
}

.container-muahang {
    width: 50%;
    height: auto;
    margin-bottom: 5%;
}

.container-thongtinkhachhang>input {
    width: 70%;
    height: 40px;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    padding-left: 2%;
}

.container-thongtinkhachhang>h3 {
    text-align: left;
    font-size: 30px;
    margin-left: 15%;
}

.thanhdoc {
    width: 1px;
    height: auto;
    background-color: black;
    opacity: 0.8;
}

.muahang-product-img {
    width: 150px;
    height: 150px;
}

.ton-kho {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin-left: 140px;
}

hr {
    width: 100%;
    background-color: black;
    opacity: 0.8;
}

.content-muahang {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.content-muahang>label {
    margin-left: 20px;
    font-size: 30px;
}

.content-muahang>.product-pricee {
    color: red;
    font-weight: bold;
}

.thongtinsanpham {
    width: 100%;
    height: auto;
}

.soluong-container {
    display: flex;
    margin: 2%;
}

.soluong-title {
    width: 40%;
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 17%;
}

.product-soluong {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: left;
}

.tru {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35.5px;
    width: 5%;
    color: white;
    background-color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.tru:hover,
.cong {
    cursor: pointer;
}

.input-soluong {
    width: 20%;
    border: 2px solid black;
    text-align: center;
}

.cong {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35.5px;
    width: 5%;
    color: white;
    background-color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tamtinh {
    display: flex;
    margin: 3%;
}

.tamtinh-title {
    width: 50%;
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 16.2%;
}

.tamtinh-value {
    width: 50%;
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 10%;
    font-size: 20px;
}

.phivanchuyen {
    display: flex;
    margin: 3%;
}

.phivanchuyen-title {
    width: 50%;
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 16.2%;
}

.phivanchuyen-value {
    width: 50%;
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 10%;
    font-size: 20px;
}

.tongtien {
    display: flex;
    margin: 3%;
}

.tongtien-title {
    width: 50%;
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-left: 16.2%;
}

.tongtien-value {
    width: 50%;
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 10%;
    font-weight: bold;
    font-size: 20px;
}

.muahang-xacnhan {
    margin-left: 18.5%;
    padding: 5px;
    margin-top: 5%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
    background-color: #ff0000;
}

.muahang-xacnhan:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255);
    filter: brightness(200%);
}

.warning{
    font-size: 13px;
}