<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="#news">Update Producer</a>
    </div>

    <div class="create-user-container">
        <form action="/add-new-NSX" method="post">
            <fieldset>
                <legend><b>Thêm Nhà Sản Xuất</b></legend>
                <div>
                    <label for="">Tên NSX</label>
                    <input type="text" name="tenhang">
                </div>
                <div>
                    <button type="submit">Save</button>
                </div>
            </fieldset>
        </form>
    </div>

    <table class="container-LoaiSP">
        <tbody>
            <tr class="hang-loaiSP">
                <td class="tenhang">
                    TÊN NSX
                </td>
                <td class="chucnang">
                    CHỨC NĂNG
                </td>
            </tr>
            <% AllHang.forEach(function(AllHang) { %>

                <tr class="Nhasanxuat">

                    <td class="ten-NSX">
                        <%= AllHang.tenhang %>
                    </td>
                    <td>
                        <form action="/delete-tenhang" method="post">
                            <input type="text" hidden value="<%=AllHang.tenhang%>" name="NSXId">
                            <button class="delete-NSX">Xóa</button>
                        </form>
                    </td>

                </tr>
                <% }); %>
        </tbody>
    </table>
</body>

</html>