.profile_container{
  padding-top: 7%;
  width: 90%;
  display: flex ;
  justify-content: center;
  align-items: center;
}

.profile{

  width: 100%;
  display: flex;
}

.profile_avatar{
  display: block;
  width: 50%;
  text-align: center;
}

.profile_info{
  width: 50%;
}

.avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.taikhoan{
  color: rgb(141, 139, 139);
}

.profile_spacing{
  margin-bottom: 20px;
}