.container {
    background-color: #ffffff;
}

.introduce {
    margin-bottom: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduce div {
    display: inline-block;
}

.introduce-pic {
    width: 1000px;
    height: 500px;
    display: none;
    max-width: 100%;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.introduce-slide {
    font-size: 20px;
    margin: 0 10px;
    border: none;
    /* Loại bỏ đường viền */
    background: none;
    /* Loại bỏ nền */
    padding: 0;
    /* Loại bỏ padding nếu có */
    cursor: pointer;
    /* Biểu tượng con trỏ khi rê chuột vào */
    outline: none;
    /* Loại bỏ đường viền xung quanh khi được focus (đối với việc trình duyệt mặc định) */
}

.introduce-slide {
    margin: 0 10px;
    /* Đặt margin để tạo khoảng cách giữa các phần tử */
}

.content {
    margin-left: 90px;
    font-size: 40px;
    color: black;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
}

.products {
    margin-left: 92px;
    margin-right: 92px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    //margin: 0;
}

.products li {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.product-top {
    margin-bottom: 10px;
}

.product-pic {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    /* Đảm bảo hình ảnh không bị méo khi thay đổi kích thước */
}

.product-name {
    font-weight: bold;
    flex-grow: 1;
    color: black;
    font-size: 20px;
    /* Để mô tả sản phẩm chiếm hết không gian dọc */
}

.product-price {
    color: green;
}

.mua {
    display: block;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.mua:hover {
    background-color: #45a049;
}

h1 {
    color: black;
}

.Searchfillter {
    display: flex;
    align-items: center;
    //justify-content: space-between;
    /* Căn giữa theo chiều dọc */
}

.fillter {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    margin-left: 300px;
}

.editinput {
    text-align: left;
    padding: 10px;
    font-size: 16px;
    margin-left: 75px;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.price-filter {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 0.5%;
    margin-left: 1%;
}

.gia-title {
    margin-right: 10px;
    color: black;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

/* Optional: Style for selected option */
select option:checked {
    background-color: #f0f0f0;
    color: #333;
}

.product-type-filter {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 0.5%;
    margin-left: 1%;
}

.type-title {
    margin-right: 10px;
    color: black;
}

.manufacturer-filter {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 0.5%;
    margin-left: 1%;
}

.manufacturer-title {
    margin-right: 10px;
    color: black;
}